<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
      <clear />
          <add key="Tailspin.SpaceGame.Web.Models" value="https://pkgs.dev.azure.com/auracastellanos/7a08c685-d1ad-43e2-91f2-78392f9b787d/_packaging/Tailspin.SpaceGame.Web.Models/nuget/v3/index.json" />
  </packageSources>
  <packageRestore>
	  <add key="enabled" value="True" />
          <add key="automatic" value="True" />
  </packageRestore>
 </configuration>
